
/*body{
   margin: 0;
  padding: 0;
  background:url(*.jpeg) ;
  -webkit-background-size:cover;
  background-position : 50% 50%;
}*/
@import url("reset.css");

/* ------ layout
-----------------------------------------------*/



body#competences {
background:#f5f5f5;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333;
line-height:18px;
}

#content {
position:relative;
top:50%;
left:50%;
margin:0px 0 0 -450px;
width:900px;
height:600px;
}

.legend {
float:left;
width:250px;
margin-top:140px;
}

#content h1 {
font-family:'Cabin Sketch', arial, serif;
text-shadow:3px 3px 0 #ddd;
color:#193340;
font-size:40px;
margin-bottom:40px;
text-align:right;
}

.skills {
float:left;
clear:both;
width:100%;
}

.skills ul,
.skills li {
display:block;
list-style:none;
margin:0;
padding:0;
}

.skills li {
float:right;
clear:both;
padding:0 15px;
height:35px;
line-height:35px;
color:#fff;
margin-bottom:1px;
font-size:18px;
}

.skills .jq {
background:#97BE0D;
}

.skills .css {
background:#D84F5F;
}

.skills .html {
background:#88B8E6;
}

.skills .php {
background:#BEDBE9;
}

.skills .sql {
background:#EDEBEE;
}

.footer {
position:fixed;
bottom:0;
left:0;
width:100%;
background:#2D2D2D;
color:#EAEAEA;
padding:20px 0;
}

.footer a {
color:#EAEAEA;
}

.footer a:hover {
color:#E4842C;
}

.footer .inside {
font-family: 'Cabin Sketch', arial, serif;
font-size:22px;
text-align:center;
}


#diagram {
float:right;
width:600px;
height:600px;
}

.get {
display:none;
}


/* ------ anchors
-----------------------------------------------*/

a#competences {
text-decoration:none;
color:#333;
}

@font-face {
    font-family: 'cabinsketchbold';
    src: url('../font/cabinsketch-bold-webfont.woff2') format('woff2'),
         url('../font/cabinsketch-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cabinsketchregular';
    src: url('../font/cabinsketch-regular-webfont.woff2') format('woff2'),
         url('../font/cabinsketch-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.wrapper{
  width: 800px;
  margin: 0 auto;
}

.wrapper.h1{

font-family:'cabinsketchregular', arial, serif;
text-shadow:3px 3px 0 #ddd;
color:#193340;
font-size:40px;
margin-bottom:40px;
text-align:right;
/*
  text-align: center;
  text-transform: uppercase;*/
}
